* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    @font-face {
        font-family: Poppins-Medium;
        src: url(Assets/fonts/Poppins-MediumItalic);
    }

    color: white;
}

body {
    background-image: url(./Assets/images/banner.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
}

#title-form {
    text-align: center;
    margin: 35px;
}

#title {
    font-size: 2.3em;
    margin-bottom: 10px;
    color: white;
    border-bottom: 2px solid white;
    /* Ajusta el grosor y color según tus preferencias */
    display: inline-block;
    /* Asegura que el border-bottom se aplique solo al texto y no a todo el ancho del contenedor */
    padding-bottom: 5px;
    /* Ajusta el valor según la separación deseada */
}

#description{
    font-size: 1.5em;
    background-color: azure;
    border: 1px solid black;
    color: cadetblue;
    font-weight: bolder;
    text-shadow: black;
    border-radius: 10px;
}



option {
    color: black;
}

label {
    font-size: 1.3em;
}


#survey-form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    border: 1px solid black;
    padding-top: 20px;
    justify-content: center;
    background-image: url(./Assets/images/webdesign.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    margin-bottom: 75px;
}

#name,
#email,
#number,
#dropdown {

    padding: 5px;
    margin: 10px 35px 20px 35px;
}

.select {
    padding: 5px;
    margin: 0px 35px 10px 35px;
}

label {
    margin: 0px 35px;
}



::placeholder {
    color: black;
}

input,
textarea,
select {
    color: black;
    font-size: 1.1em;
}

#textarea {
    font-size: 1.2em;
    margin: 20px;
    width: 50%;
    align-self: center;
}

span {
    margin: 35px 35px 5px 35px;
    font-size: 1.3em
}

#submit{
    width: 10vw;
    height: auto;
    align-self: center;
    background-color: rgb(140, 182, 183);
    color:#fff;
    border-radius: 10px;
    margin-bottom: 45px;
    text-shadow: black;
}

#submit:hover{
    background-color: white;
    color: cadetblue;
}







